/* Важная часть */
.open-popup {
  width: 200px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 100px);
  z-index: -1;
}
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 500px;
  padding: 25px;
  transition: 0.5s all;
  border-radius: 20px;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.data-list {
  width: 300px;
  position: absolute;
  top: 20%;
  left: calc(50%);
  transform: translate(0%, 0%) scale(0);
  background: #fff;
  border: 5px solid tomato;
  border-radius: 20px;
  z-index: -1;
}
.data-list.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
span {
  margin-left: 50px;
}

.popup label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}
.popup h1 {
  text-transform: uppercase;
  color: tomato;
  text-align: center;
}

.popup .label__text {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cfd0d3;
}

.popup input {
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border: 1px solid #cfd0d3;
  border-radius: 10px;
}

.popup input:focus + .label__text {
  color: tomato;
}
button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  border: 2px solid tomato;
  border-radius: 10px;
  background: tomato;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s all;
}

button:hover {
  background: #fff;
  color: tomato;
  transition: 0.5s all;
}
